/* Bace */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
}

button {
    cursor: pointer;
}


/* layout */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

header {
    height: 6.25rem;
    background-color: rgb(252, 73, 73);
    border-bottom: 0.625rem solid rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2rem;
}

nav ul {
    font-size: 1.7rem;
    gap: 15px;
}

nav ul li {
    font-family: cursive;
    cursor: pointer;
}

.logo {
    cursor: pointer;
    height: 3rem;
}

main {
    margin-top: 7rem;
}

.imgs-container {
    width: 90vw;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.canvas-container {
    margin: 0 20px 0 100px;
    width: 35vw;
}

canvas {
    border: 0.45rem solid gray;
}

input {
    height: 2rem;
}

.icon {
    width: 1.56rem;
    height: 1.8rem;
}

.hide {
    display: none;
}